* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: philosopher, sans-serif;
}




nav {
    width: 100%;
    height: 80px;
    /* padding: 0px 80px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #9333ea, #3b82f6);
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #0ea5e9;
    padding-left: 50px;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.new-logo{
    color:#f97316;
}


.ul {
    padding-right: 50px;
}

nav>.ul>ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    gap: 25px;
}

nav>.ul>ul>li>a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.ul>ul>li>a:hover {
    color: goldenrod;

}

.active {

    padding: 5px 10px;
    color: white !important;
}

.bar {
    color: white;
    display: none;

}

#check {
    display: none;
}

.check {

    padding-right: 80px;
    font-size: 1.5rem;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}

.check:hover {

    background-color: rgba(255, 255, 255, 0.15);

}

.exit {
    padding-right: 80px;
    font-size: 1.5rem;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    cursor: pointer;
    display: none;

}

.exit:hover {

    background-color: rgba(255, 255, 255, 0.15);

}

@media(max-width:800px) {
    .ul {
        top: 80px;
        width: 100%;
        background-color:#1e293b;
        position: fixed;
        padding: 20px 10px;
        height: 100vh;
        right: -100%;
        transition: 0.5s;



    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    .check {
        display: flex;

    }

    #check:checked~.check {
        display: none;
    }

    #check:checked~.exit {
        display: flex;

    }

    #check:checked~.ul {
        right: 0;
    }
}